:root {
  --blue: #0084fd;
  --skyblue: #b5ddff;
  --purple: #9792e4;
  --black: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding-top: 80px;
}

section {
  padding: 3rem 0;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

/* ROW-COL-CARD */

.row {
  margin: 0 -1.5rem;
}

.col {
  padding: 1.5rem;
}

.card {
  height: 100%;
  text-align: center;
}

/* DEBUG */
.debug * {
  border: 2px dashed black;
  min-height: 30px;
}
/* CONTAINER */

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

/* HEADER */

.header {
  background: var(--blue);
  color: white;

  height: 80px;
  width: 100%;
  line-height: 80px;

  position: fixed;
  z-index: 1;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  font-size: 1.5rem;
  font-weight: 400;
}

.extended-menu {
  display: none;
}

.header-list {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
}

#started {
  color: black;
  background: white;

  border-radius: 30px;

  padding: 10px 15px;
}

/* FIRST SECTION */

.skyblue {
  background: var(--skyblue);
  border-radius: 20px;
}

.skyblue h2,
.skyblue i,
.app-store a {
  color: var(--blue);
  padding: 1rem;
}

/* STRATEGIC SECTION */

#strategic {
  background: var(--purple);
}

.bg-white {
  background: white;
  border-radius: 60px;
  padding: 1.5rem;
}

.white-text * {
  color: white;
  padding: 1.5rem;
}

.black-text h2,
p {
  padding: 1.5rem 0;
}

.circle-arrow {
  background: var(--purple);
  padding: 15px;
  border-radius: 50%;
}

.circle-arrow i {
  color: black;
  padding: 1.5rem 0;
}

/* TESTIMONIALS SECTION */

.purple {
  background: var(--purple);
  border-radius: 20px;
  padding: 1.5rem;
}

.testimonial-intro h2 {
  color: var(--purple);
  padding-top: 1.5rem;
}

.testimonial img {
  width: 50%;
  border-radius: 50%;
}

.testimonial-text {
  color: white;
}

/* BENEFITS SECTION */
#benefits {
  background: var(--purple);
}

.benefits-intro {
  text-align: center;
  color: white;
  font-size: 1.75rem;
}

#benefits .card {
  background: white;
  border-radius: 10px;
  padding: 45px 35px;
  text-align: left;
}

.card .number,
h3 {
  color: var(--purple);
  padding: 0.75rem 0;
}

.more {
  padding: 10px 40px;
  background: var(--purple);
  border-radius: 20px;
}

/* TABLET RESPONSIVE */

@media screen and (min-width: 767px) {
  /* FIRST SECTION */

  #first-section .row {
    display: flex;
    flex-wrap: wrap;
  }

  #first-section .col {
    width: calc(100% / 3);
  }

  #first-section .col:first-child {
    width: calc(100% / 3 * 2);
  }

  /* TESTIMONIAL SECTION */
  #testimonials .purple {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial img {
    width: 80%;
  }

  /* BENEFITS SECTION */

  #benefits .row {
    display: flex;
    flex-wrap: wrap;
  }
  #benefits .col {
    width: 50%;
  }
}

/* DEKSTOP RESPONSIVE */

@media screen and (min-width: 992px) {
  .container {
    max-width: 1140px;
  }

  /* HEADER */
  .compact-menu {
    display: none;
  }
  .extended-menu {
    display: block;
  }

  /* FIRST SECTION */
  #first-section .col:first-child .card {
    display: flex;
  }
  .card-content {
    width: 50%;
  }
  .card-img {
    width: 50%;
  }

  /* STRATEGIC SECTION */
  #strategic .row {
    display: flex;
    padding: 5rem;
  }
  #strategic .row .col {
    width: 50%;
  }

  .bg-white {
    margin-top: 5rem;
  }

  /* BENEFITS SECTION */
  #benefits .col {
    width: calc(100% / 3);
  }
}
