* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding-top: 80px;
}

section {
  padding: 3rem 0;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

/* DEBUG */
.debug * {
  border: 2px dashed black;
  min-height: 30px;
}
/* CONTAINER */

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

/* HEADER */

.header {
  background: #0084fd;
  color: white;

  height: 80px;
  width: 100%;
  line-height: 80px;

  position: fixed;
  z-index: 1;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  font-size: 1.5rem;
  font-weight: 400;
}

.extended-menu {
  display: none;
}

.header-list {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
}

#started {
  color: black;
  background: white;

  border-radius: 30px;

  padding: 10px 15px;
}

/* FIRST SECTION */

.row {
  margin: 0 -1.5rem;
}

.col {
  padding: 1.5rem;
}

.card {
  height: 100%;
}

/* TABLET RESPONSIVE */

@media screen and (min-width: 767px) {
  #first-section .row {
    display: flex;
    flex-wrap: wrap;
  }

  #first-section .col {
    width: calc(100% / 3);
  }

  #first-section .col:first-child {
    width: calc(100% / 3 * 2);
  }
}

/* DEKSTOP RESPONSIVE */

@media screen and (min-width: 992px) {
  .compact-menu {
    display: none;
  }
  .extended-menu {
    display: block;
  }
  #first-section .col:first-child .card {
    display: flex;
  }
  .card-content {
    width: 50%;
  }
  .card-img {
    width: 50%;
  }
}
